{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Busfeed</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Recent Posts</a></h1>
        <div class="nav-right"><a href="{% url 'post_new' %}">Post an Update</a></div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>